################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/582Project/v17/.wsuo
/.vs/582Project/v16/.suo
/.vs/582Project/FileContentIndex/read.lock
/.vs/582Project/FileContentIndex/8ab87850-ac0b-4526-ac93-42f294d01870.vsidx
/.vs/582Project/FileContentIndex/272fe3f5-67ad-437a-a329-d29d906ed1c0.vsidx
/.vs/582Project/FileContentIndex/5580968c-cd7d-4292-b9e8-86f1e23c6aa0.vsidx
